@model IEnumerable<BittrexTradeAnalyzer.Models.RealizedTradeData>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuySell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AverageBuy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitLoss)
        </th>
      <th>
        @Html.DisplayNameFor(model => model.ProfitLossValue)
      </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuySell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnit)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AverageBuy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @RedGreen(item.ProfitLoss)
        </td>
      <td>
        @Html.DisplayFor(modelItem => item.ProfitLossValue)
      </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>

    </tr>
}

</table>


@helper RedGreen(decimal value)
    {
if (value < 0)
{
    <span style="color:red">@(value.ToString("#.##"))</span>
}
else
{
    <span style="color:green">@(value.ToString("#.##"))</span>
}
}
